# Ambientes virtuais
.venv/
venv/
testes_env/

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Artefactos de build/empacotamento
build/
dist/
*.spec
.eggs/
*.egg-info/

# Configuração local
.env

# Testes e caches opcionais
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/